:root {
  --white-color: #ffffff;
  --light-bg-color: #f1f6fa;
  --black-color: #232536;
  --body-text-color: #6b7479;
  --yellow-accent-color: #ffc75f;
  --orange-accent-color: #e07b37;
  --blue-accent-color: #6193cb;
}

/* общее */
body {
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: var(--black-color);
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

/*  вопрос 1
я хотела поставить стиль просто классу .site-nav но это не сработало. 
Вроде как ссылки не унаследуют цвет текста ни от куда, и им нужно менять непосредственно (синий на черный например)
Вопрос: лучше ставить стиль элементу по всей странице, ии конкретному эл-у в классе?

.site-nav a {
  color: #232536;
  font-size: 14px;
  text-decoration: none;
} 

ниже я вот решила что мне легче задать стиль всем ссылкам на странице. Это ок?
(а если что-потом менять в частности)
*/
a:hover,
a:focus {
  color: var(--orange-accent-color);
  text-decoration: underline;
}

.logo {
}

.current-page {
  color: var(--orange-accent-color);
}

.logo:hover,
.logo:focus {
  transform: scale(1.1);
}

.section {
  padding: 120px 80px 120px 80px;
}

.blue-section {
  background-color: var(--light-bg-color);
}

.header{
position:fixed;
top:0px;
left:0px;
}

.site-nav {
  padding: 15 0 15 0;
  margin: 0 80 0 80;

}


h1 {
  margin: 0 0 40px 0;

  font-weight: bold;
  font-size: 42px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 50px 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

.button {
  width: 200px;
  height: 40px;
  margin: 30px;
  border-radius: 30px;
  border-color: transparent;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;

  line-height: 20px;
  padding: 10px;
}

.blue-button {
  background: var(--blue-accent-color);
  box-shadow: 0px 4px 8px rgba(79, 128, 183, 0.5);
}

.orange-button {
  background: var(--orange-accent-color);
  box-shadow: 0px 4px 8px rgba(119, 67, 32, 0.5);
}

/* hero section, пока с заливкой на бекграунде*/
.hero-section {
  background-color: rgb(36, 34, 41);
  color: var(--white-color);
  /* height: 600px; */
}

.tag-text {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

/* benefits section */

.benefit-item {
  width: 220px;
  margin: 0 36px 36px 36px;
}

.benefit-item-position{
float: left;
}

/* .benefit-right-position{
width: 220px;
margin: 0 36px 36px 36px;
float: right;
} */
/* вопрос 2. лучше задавать всем P класс и писать стиль класса, 
или можно как я ниже сделала? */

.benefit-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: var(--body-text-color);
}

.benefit-item img {
  width: 80px;
  height: 80px;
  position: relative;
}

.image-box {
  width: 205px;
  height: 220px;
  background: var(--light-bg-color);
  border-radius: 4px;
}

.image-box:hover,
.image-box:focus {
  background: var(--yellow-accent-color);
}
/* services section */
.services-title {
  width: 380px;
  height: 70px;

  background: rgba(35, 37, 54, 0.8);
  border-radius: 0px 0px 4px 4px;
  color: var(--white-color);
  text-align: center;
}

.services-image{
  width:380px;
}


/* about section */
.about-image {
  width: 513px;
}

/* partners section */
.partner-logos {
  padding: 10px;
}

/* newsletter section */
.input-style {
  width: 355px;
  height: 40px;

  padding: 0 10px 0 10px;

  background: var(--light-bg-color);
  border: 2px solid var(--orange-accent-color);
  box-sizing: border-box;
  border-radius: 30px;
}

/* footer */
.footer-section {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 60px 80px 40px 80px;
}

.address-style {
  font-style: normal;
  color: var(--white-color);
}

.address-link {
  color: var(--white-color);
}

.copy-style{
font-size: 14px;
line-height: 1.4;
text-align: center;
}

/* Cases page */
.hero-image {
  width: 995px;
}

.cases-list {
  margin: 30px;
}

.case-description {
  padding: 30px;

  background-color: rgba(35, 37, 54, 0.8);
  color: var(--white-color);
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.case-description li {
  list-style: disc;
}

.case-image {
  width: 380px;
}

.filter-button {
  margin: 10px;

  width: 133px;
  height: 40px;
  background-color: var(--light-bg-color);
  /* border-radius: 4px; */
  border-color: transparent;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  text-transform: capitalize;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--yellow-accent-color);
}

.tag-style{
width: 70px;
height: 30px;
margin: 0 15px 0 0;

border-radius: 30px;
border-color: transparent;
background-color: var(--blue-accent-color);
color: var(--white-color);

font-weight: bold;
font-size: 14px;
line-height: 1.2;
text-transform: uppercase;
text-align: center;

padding: 0px 15px 0px 15px;
margin:15px;
}

.blue-button {
  background: var(--blue-accent-color);
  box-shadow: 0px 4px 8px rgba(79, 128, 183, 0.5);
}


}